<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ bootstrap-datepicker3.min.css }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ jsgrid.min.css }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ jsgrid-theme.min.css }}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ styles.css }}"/>

    <title>{{ title }}</title>
</head>
<body class="{{ standaloneClass }}">

    <!-- we need following class on both elements. body is used for standalone, below div is used for inline in netsuite -->
    <div class="{{ standaloneClass }}">
        <div class="f3mm-contract-renewal container-fluid">


            <!-- Action buttons -->
            <div class="form-actions " style="display: none">
                <button type="submit" class="btn btn-primary btn-submit">Save</button>
                &nbsp;
                <a href="{{ viewContractUrl }}" class="btn btn-default btn-cancel">Cancel</a>
                &nbsp;
                <a href="{{ contractListingUrl }}" class="btn btn-default btn-cancel">Back to Contract Listing</a>
            </div>

            <div class="form-actions view-contract-action-buttons" style="display: none">
                <a href="{{ viewContractUrl }}" class="btn btn-primary">Edit</a>
                &nbsp;
                <a href="{{ contractListingUrl }}" class="btn btn-default btn-cancel">Back to Contract Listing</a>
                &nbsp;
                <a href="#" class="btn btn-default btn-view-quote" style="display: none;" target="_blank">View Quote</a>
                &nbsp;
                <a href="javascript:;" class="btn btn-default btn-generate-quote">Generate Quote</a>
            </div>

            <br/>

            <!-- -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Primary Information
                        </div>
                    </div>
                </div>
            </div>


            <!-- div for view screen --- this section is rendered via underscore template -->
            <div class="view-horizontal" style="display: none;">


            </div>


            <!-- div for create / edit screen -->
            <div class="form-horizontal" style="display: none;">

                <div class="row">

                    <!-- first column in primary information section -->
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-8">

                                <div class="form-group">
                                    <label for="contract_number" class="control-label">Contract # <span
                                            class="mandatory">*</span></label>

                                    <div class="">
                                        <input type="text" class="form-control contract-number-text"
                                               id="contract_number"
                                               name="contract_number"/>
                                        <!--<p class="form-control-static">email@example.com</p>-->
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="customer" class="control-label">Customer <span
                                            class="mandatory">*</span></label>

                                    <div class="input-group">
                                        <!--<select class="form-control customer-dropdown"-->
                                        <!--id="customer"-->
                                        <!--name="customer">-->
                                        <!--<option value="" selected="selected"> </option>-->
                                        <!--</select>-->

                                        <input class="typeahead form-control customer-dropdown"
                                               id="customer"
                                               name="customer"
                                               type="text"/>

                                        <span  class="input-group-addon input-group-addon-transparent">
                                            <a id="entity_popup_new" title="New" href='javascript:void("entity_new")'><img src="/uirefresh/img/field/add.png" /></a>
                                            <a href="#" id="entity_popup_link" title="Open"><img src="/uirefresh/img/field/open.png" /></a>
                                        </span>

                                        <!--<img class="Typeahead-spinner" src="img/spinner.gif">-->
                                        <!--<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>-->

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="primary_contact" class="control-label">End User <span
                                            class="mandatory">*</span></label>

                                    <div class="">
                                        <!--<select class="form-control customer-dropdown"-->
                                        <!--id="customer"-->
                                        <!--name="customer">-->
                                        <!--<option value="" selected="selected"> </option>-->
                                        <!--</select>-->

                                        <input class="typeahead form-control primary-contact-dropdown"
                                               id="primary_contact"
                                               name="primary_contact"
                                               type="text"/>

                                        <!--<img class="Typeahead-spinner" src="img/spinner.gif">-->
                                        <!--<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>-->

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="primary_contact_email" class="control-label">End User Email</label>

                                    <div class="">
                                        <!--<select class="form-control customer-dropdown"-->
                                        <!--id="customer"-->
                                        <!--name="customer">-->
                                        <!--<option value="" selected="selected"> </option>-->
                                        <!--</select>-->

                                        <input class="form-control primary-contact-email-text"
                                               readonly="readonly"
                                               id="primary_contact_email"
                                               name="primary_contact_email"
                                               type="text"/>

                                        <!--<img class="Typeahead-spinner" src="img/spinner.gif">-->
                                        <!--<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>-->

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="sales_rep" class="control-label">Sales Rep <span class="mandatory">*</span></label>

                                    <div class="">
                                        <select class="form-control sales-rep-dropdown"
                                                id="sales_rep"
                                                name="sales_rep">
                                            <option value="" selected="selected"></option>

                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- second column in primary information section -->
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-8">

                                <div class="form-group">
                                    <label for="po_number" class="control-label">PO #</label>

                                    <div class="">
                                        <input type="text" class="form-control po-number-text"
                                               id="po_number"
                                               name="po_number"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="vendor" class="control-label">Contract Vendor <span
                                            class="mandatory">*</span></label>

                                    <div class="">
                                        <select class="form-control vendor-dropdown"
                                                id="vendor"
                                                name="vendor">
                                            <option value="" selected="selected"></option>

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="status" class="control-label">Status <span
                                            class="mandatory">*</span></label>

                                    <div class="">
                                        <select class="form-control status-dropdown"
                                                id="status"
                                                name="status">
                                            <option value="1">Pending Rep Approval</option>
                                            <option value="2">Pending Customer Approval</option>
                                            <option value="3">Approved</option>
                                            <option value="4">Expired</option>
                                            <option value="5">Void</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="total_quantity_seats" class="control-label">Total Quantity Seats</label>

                                    <div class="">
                                        <input type="text" class="form-control total-quantity-seats-text"
                                               id="total_quantity_seats"
                                               name="total_quantity_seats"
                                               readonly="readonly"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- third column in primary information section -->
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-8">

                                <div class="form-group">
                                    <label for="department" class="control-label">Department <span
                                            class="mandatory">*</span></label>
                                    <div class="">
                                        <select class="form-control department-dropdown"
                                                id="department"
                                                name="department">
                                            <option value="" selected="selected"></option>

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="duration" class="control-label">Contract Duration</label>

                                    <div class="">
                                        <select class="form-control duration-dropdown"
                                                id="duration"
                                                name="duration">
                                            <option value=""></option>
                                            <option value="1">Monthly</option>
                                            <option value="2">Quarterly</option>
                                            <option value="3">Annual</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="start_date" class="control-label">Start Date <span
                                            class="mandatory">*</span></label>
                                    <div class="">
                                        <div class="input-group date">
                                            <input type="text" class="form-control start-date-text"
                                                   id="start_date"
                                                   name="start_date"/>
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="end_date" class="control-label">End Date <span
                                            class="mandatory">*</span></label>
                                    <div class="">
                                        <div class="input-group date">
                                            <input type="text" class="form-control end-date-text"
                                                   id="end_date"
                                                   name="end_date"/>
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="memo" class="control-label">Memo</label>
                                    <div class="">
                                        <input type="text" class="form-control memo-text"
                                               id="memo"
                                               name="memo"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <br/>

            <!-- Items Grid -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Items
                </div>
            </div>
            <div class="items-container">
                <div id="jsGrid"></div>
            </div>


            <!-- Action buttons -->
            <div class="form-actions" style="display: none">
                <br/>
                <button type="submit" class="btn btn-primary btn-submit">Save</button>
                &nbsp;
                <a href="{{ viewContractUrl }}" class="btn btn-default btn-cancel">Cancel</a>
            </div>


        </div>
    </div>


    <!-- Loading Div -->
    <div class="contract-loading-backdrop modal-backdrop fade in"></div>
    <div class="contract-loading in">
        <div class="contract-loading-text"><img src="{{ loading.gif }}"/></div>
    </div>

    <!-- Template for View Screen -->
    <script type="text/template" id="view_template">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8">

                        <div class="form-group">
                            <label for="contract_number" class="control-label">Contract #</label>

                            <div class="">
                                {{= custrecord_f3mm_contract_number }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="customer" class="control-label">Customer</label>

                            <div class="">
                                {{ if ( !!custrecord_f3mm_customer) { }}
                                <a href="/app/common/entity/custjob.nl?id={{= custrecord_f3mm_customer.value }}">{{= custrecord_f3mm_customer.text }}</a>
                                {{ } }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="primary_contact" class="control-label">End User</label>

                            <div class="">
                                {{ if ( !!custrecord_f3mm_primary_contact) { }}
                                <a href="/app/common/entity/contact.nl?id={{= custrecord_f3mm_primary_contact.value }}">{{= custrecord_f3mm_primary_contact.text }}</a>
                                {{ } }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="primary_contact_email" class="control-label">End User Email</label>

                            <div class="">
                                {{= custrecord_f3mm_primary_contact_email }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sales_rep" class="control-label">Sales Rep</label>

                            <div class="">
                                {{ if ( !!custrecord_f3mm_sales_rep) { }}
                                <a href="/app/common/entity/employee.nl?id={{= custrecord_f3mm_sales_rep.value }}">{{= custrecord_f3mm_sales_rep.text }}</a>
                                {{ } }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8">

                        <div class="form-group">
                            <label for="po_number" class="control-label">PO #</label>

                            <div class="">
                                {{= custrecord_f3mm_po_number }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="vendor" class="control-label">Contract Vendor</label>

                            <div class="">
                                {{ if ( !!custrecord_f3mm_contract_vendor) { }}
                                <a href="/app/common/entity/vendor.nl?id={{= custrecord_f3mm_contract_vendor.value }}">{{= custrecord_f3mm_contract_vendor.text }}</a>
                                {{ } }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="status" class="control-label">Status</label>

                            <div class="">
                                {{= custrecord_f3mm_status && custrecord_f3mm_status.text || '' }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="total_quantity_seats" class="control-label">Total Quantity Seats</label>

                            <div class="">
                                {{= custrecord_f3mm_total_qty_seats }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8">

                        <div class="form-group">
                            <label for="department" class="control-label">Department</label>

                            <div class="">
                                {{ if ( !!custrecord_f3mm_department) { }}
                                <a href="/app/common/otherlists/departmenttype.nl?id={{= custrecord_f3mm_department.value }}">{{= custrecord_f3mm_department.text }}</a>
                                {{ } }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="department" class="control-label">Contract Duration</label>

                            <div class="">
                                {{ if ( !!custrecord_f3mm_contract_duration) { }}
                                    {{= custrecord_f3mm_contract_duration.text }}
                                {{ } }}
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="start_date" class="control-label">Start Date</label>

                            <div class="">
                                {{= custrecord_f3mm_start_date }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="end_date" class="control-label">End Date</label>

                            <div class="">
                                {{= custrecord_f3mm_end_date }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="memo" class="control-label">Memo</label>

                            <div class="">
                                {{= custrecord_f3mm_memo }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- All Scripts should go below -->
    <script>
        document.title = '{{ title }}'.replace('<i class="fa fa-file-text-o"></i>', '');
        window.$ = (window.NS && window.NS.jQuery) || window.jQuery;
        window.pageType = '{{ type }}';
        window.apiSuiteletUrl = '{{ apiSuiteletUrl }}';
        window.contractInfo = {{ contractInfo }};
        //window.priceLevels = {{ priceLevels }};
    </script>
    <script type="text/javascript"> window.$ || document.write('<script src="{{ jquery-1.11.0.min.js }}">\x3C/script>')</script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ jstorage.js }}"></script>
    <script type="text/javascript" src="{{ typeahead.jquery.min.js }}"></script>
    <script type="text/javascript" src="{{ bootstrap-datepicker.min.js }}"></script>
    <script type="text/javascript" src="{{ underscore-min.js }}"></script>
    <script type="text/javascript" src="{{ jsgrid_customized.js }}"></script>
    <script type="text/javascript" src="{{ f3mm_jquery_validation.js }}"></script>
    <script type="text/javascript" src="{{ f3mm_jquery_plugins.js }}"></script>
    <script type="text/javascript" src="{{ f3mm_jsgrid_fields.js }}"></script>
    <script type="text/javascript" src="{{ f3mm_data_manager.js }}"></script>
    <script type="text/javascript" src="{{ f3mm_create_contract_ui_manager.js }}"></script>
    <script type="text/javascript" src="{{ f3mm_init.js }}"></script>

</body>
</html>